PORT=8080
DB_URL=postgres://jeztbfiv:jcyKI7WEtfeTL-UzRY-V97mZO6bULg1C@raja.db.elephantsql.com/jeztbfiv?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://jeztbfiv:jcyKI7WEtfeTL-UzRY-V97mZO6bULg1C@raja.db.elephantsql.com/jeztbfiv?sslmode=disable
