# General environment variables
PORT=8080

# Postgresql environment variables
POSTGRES_DB_URL=

# Postgresql migration
GOOSE_DRIVER=
GOOSE_DBSTRING=

# Sqlite environment variables
SQLITE_DB_URL=

# Sqlite migration
GOOSE_DRIVER=
GOOSE_DBSTRING=
