#general environment variables
PORT=8080

#postgresql environment variables
DB_URL=postgres://jeztbfiv:jcyKI7WEtfeTL-UzRY-V97mZO6bULg1C@raja.db.elephantsql.com/jeztbfiv?sslmode=disable

#mysql environment variables

#sqlite environment variables

#database migration environment variables
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://jeztbfiv:jcyKI7WEtfeTL-UzRY-V97mZO6bULg1C@raja.db.elephantsql.com/jeztbfiv?sslmode=disable
