#{{.ProjectName}}

Here you can give a description of the project you're building

## How to get going

Here you can put a description of how your program works

## Make commands

run:
```
make run
```

migrate database up:
```
make up
```

magrate databse down:
```
make down
```
