package tests

import (
	"testing"
	"net/http"
	"encoding/json"
	"net/http/httptest"
	"github.com/labstack/echo/v4"
	"{{.ProjectName}}/handlers"
)

func TestHandler(t *testing.T) {
    s := echo.New()

    request := httptest.NewRequest(http.MethodGet, "/", nil)
    recorder := httptest.NewRecorder()
    c := s.NewContext(request, recorder)

    if err := handlers.HelloWorldHandler(c); err != nil {
        t.Fatalf("Failed to handle request: %v", err)
    }

    if status := recorder.Code; status != http.StatusOK {
        t.Errorf("Handler returned the wrong status code: got %v, want %v", status, http.StatusOK)
    }

    if contentType := recorder.Header().Get(echo.HeaderContentType); contentType != echo.MIMEApplicationJSON {
        t.Errorf("Header returned the wrong content type: got %v, want %v", contentType, echo.MIMEApplicationJSON)
    }

    expected := map[string]string{"Hello":"World"}

    var actual map[string]string
    if err := json.NewDecoder(recorder.Body).Decode(&actual); err != nil {
        t.Fatalf("Could not decode response body: %v", err)
    }

    expectedJSON, err := json.Marshal(expected)
    if err != nil {
        t.Fatalf("Could not marshal expected response: %v", err)
    }

    actualJSON, err := json.Marshal(actual)
    if err != nil {
        t.Fatalf("Could not marshal actual response: %v", err)
    }

    // Compare JSON strings
    if string(expectedJSON) != string(actualJSON) {
        t.Errorf("Handler returned unexpected body: got %v want %v", string(actualJSON), string(expectedJSON))
    }
}
