package main

import (
  "log"
	_ "github.com/joho/godotenv/autoload"
	"{{.ProjectName}}/api"
)

func main() {
    server := api.NewApiService("PORT", nil)
    if err := server.Run(); err != nil {
        log.Fatal(err)
    }
}
